<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pyramid web application">
    <link rel="shortcut icon" href="{{request.static_url('pyramid_listing_example:static/pyramid-16x16.png')}}">

    <title>Cheese Shop - A Pyramid Listing Example</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this scaffold -->
    <link href="{{request.static_url('pyramid_listing_example:static/theme.css')}}" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
        {% block content %}
            <p>No content</p>
        {% endblock content %}
        <div class="row footer">
            <div class="col">
                <p class="text-muted">
                    The example cheese content was assembled from 
                    <a href="https://en.wikipedia.org/wiki/List_of_cheeses" class="text-dark">https://en.wikipedia.org/wiki/List_of_cheeses</a> 
                    and other pages in the domain of en.wikipedia.org. This 
                    content was provided by the Wikimedia Foundation under the 
                    Creative Commons Attribution-ShareAlike License.
                </p>
            </div>
        </div>
  </body>
</html>
